# Getting started in python-with-jupyter guide
-[the official tutorial](https://docs.python.org/3/)

-[nice intro to basics of language](https://www.w3schools.com/python/default.asp)

## Assign a variable and print it out (much more on different variable types in NumPy tutorials)
[obama kills fly](https://www.youtube.com/watch?v=yyQ3ToiimyM)

case sensitive
no explicit term to initialize variable as in C or other languages (e.g. no "int x, x=8" synatax)

var names must start with underscore character or a letter - NOT a number

can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [6]:
# define a string...
x = 'Obama kills as fly'
print(x)
 
# this is another way to define a string
x = "Obama kills another fly"
print(x)

Obama kills as fly
Obama kills another's fly

In [9]:
# declare a numerical variable, can easily combine with strings in print statement...
y = 17
print(x, y, 'times a day')

Obama kills another's fly 17 times a day

<div class="alert alert-info">
Note that Python is a strongly typed language - some languages will implicitly (automatically) recast variable types (e.g. basic or java). Python allows explcit recasting or reassignment to a variable of a different type, but will not do so automatically except in obvious cases like upcasting
</div>

In [10]:
# declare x as an int
x = 2
print('value of x: ', x, 'type of x: ', type(x))

# now declare as a string, this is ok...
x = '2'
print('value of x: ', x,  'type of x: ', type(x))

value of x:  2 type of x:  <class 'int'>
value of x:  2 type of x:  <class 'str'>

In [11]:
# but you can't do this because you can't combine int and str data types
y = 2
x = '2'

print('type of x: ', type(x), 'type of y: ', type(y))

# so this will throw an error, whereas in some other languages it might 
# either return 4 (e.g. VB if recast to ints) or maybe even 22 (java if recast to strs)
x+y

type of x:  <class 'str'> type of y:  <class 'int'>

TypeError: must be str, not int

<div class="alert alert-warning">
variable assignments often lead to <b>references</b> in Python, not <b>copies</b> as in many languages.
This is SUPER important to understand!
</div>

In [12]:
# assign a variable - short array in this case
x = [1,5]

# then make another variable, y, and assign it to x
y = x

# in most languages this would make a copy of what is in x and then assign that to y
# i.e. you would have two separate variables that contain independent copies of the data
# but in Python, by default, y is just a reference to x and in turn they reference the same
# data in memory.

# change the first element in y and see what happens to x!
y[0] = 3

print(x)

# we'll talk about 'deep copies' later when we get to NumPy (and fancy indexing/slicing), just keep this in mind for now

[3, 5]

## Control flow - conditionals and loops to iteratively apply functionality to series of data
[if...elif...else conditions](https://www.w3schools.com/python/python_conditions.asp)

[while and for loops](https://www.w3schools.com/python/python_while_loops.asp)

In [16]:
# if...elif...else...
# note the indentation! this is key as python has no 'begin...end' syntax like the curly braces in C or R  
x = 10

# then see what x is...
if x > 10:
    print("yep, its greater than 10")
elif x == 10:
    print('x = 10')
elif 0 <= x < 10:
    print("x is less than 10, but still >= 0")
elif x < 0:
    print("x is negative")
else: # catch-all
    print("who knows what x is - maybe imaginary?")

x = 10

In [21]:
# even better - use nested if...elif...else statements to catch errors 
x = 'string'


if type(x) is int:

    # then see what x is...
    if x > 10:
        print("yep, its greater than 10")
    elif x == 10:
        print('x = 10')
    elif 0 <= x < 10:
        print("x is less than 10, but still >= 0")
    elif x < 0:
        print("x is negative")
    else: # catch-all
        print("who knows what x is?")

else: # catch all
    print("that's not even a number you gave me")

that's not even a number you gave me

In [24]:
# if you mess up the indentation, then it will throw an error
x = 20

# then see what x is...
if x > 10:
    print("yep, its greater than 10")

yep, its greater than 10

### For loops - iteratively do stuff a fixed number of times

In [27]:
#iterate using a for loop
y = [20,10,0]
x = [0,10,20]

# loop over elements by iterating from 0:len(x)-1 and applying * operation to each 
# set of elements in x, y. Note that "range(len(x))" is iterable (it defines a range, not just a single number)
for i in range(len(x)):
    print('Iteration: ', i, x[i]*y[i])

IndentationError: expected an indented block (<ipython-input-27-d3d191891599>, line 8)

In [26]:
range(len(x))

range(0, 3)

For loops can iterate directly over lists. This can be convienient/faster if you do not care about what iteration a loop is on or do not need to go through multiple lists at once. You can skip to the next iteration of a for-loop using the **continue** command.

In [28]:
# print positive values of x^2
for i in x:
    if i == 0:
        continue
    else:
        print(i*i)

100
400

### While loop - keep looping until some condition is met...also illustration of 'break' - make sure that you think carefully before using a 'while' loop...if you don't have a reachable escape condition then it will just sit there and spin forever!

In [29]:
import random
x = random.random()
print(x)
while x < .99:
    x = random.random()
    print(x)

0.6066766502914913
0.8790408495511526
0.8071094732351763
0.9018110237038203
0.37836693846348457
0.4939436829451781
0.02887925111434453
0.9118753822297947
0.756419066698272
0.038552040410820054
0.020362211956076792
0.3319501336131725
0.9051020433565558
0.3918586562969191
0.6133269233870872
0.8853322651499417
0.16169842864675887
0.7104070837807461
0.039707307750215914
0.6767016489742128
0.12476295609401522
0.0706996043998741
0.27371909333383826
0.4131124272704644
0.47848611556024057
0.7005222677067616
0.9520188546359964
0.4504545994197173
0.7608736912263251
0.670796449621201
0.8979519274367953
0.8609472884824648
0.1347277391203482
0.9622852289769173
0.2162252984499251
0.2764249398866131
0.4633314998958509
0.10464696842673094
0.33155511539473614
0.976921076434106
0.9575364440069156
0.5167511091521977
0.032711773882525
0.8872793164905844
0.44014076459036244
0.23553537427074778
0.16295761437787348
0.5038790761882431
0.5417915127259322
0.3001486443507746
0.6652897101511076
0.1051968533374017
0.24772271184279826
0.203729662367372
0.7757964706484707
0.3810758487897419
0.9852032155866961
0.23800827646495093
0.4565874195450573
0.21073810923864023
0.9777747774085742
0.12086052161261374
0.3113232155987209
0.8116713453255558
0.9116974711418264
0.7734756878091225
0.30792170959695986
0.953817471646996
0.7534501096794799
0.6186214092348004
0.9964155086935755

#### break out of a while loop

In [31]:
# break statement
x = random.random()

# as long as x is less than .9999999 then keep going, UNLESS x is in between .86 and .88, then bail out
while x < .99999999:
    x = random.random()
    print(x)
    
    if x > .86 and x < .88:
        print('x is between .86 and .88')
        break

#### A common use of the 'break' statement - infinite loop until condition is met. Expample: having your stimulus presentation software wait for input from hardware (rig, fMRI machine, etc).

In [33]:
stim_trigger = ''
while 1:
    print('Start stimulus presentation?[y/n]?')
    stim_trigger = input()
    if stim_trigger == 'y':
        print('starting stimulus')  
        break    
    elif stim_trigger == 'n':
        print('exiting experiment')
        break
        
# alternate form where the 'break' condition is specified in the while statement
# stim_trigger = ''
# while stim_trigger != 'y':
#     print('Start stimulus presentation?[y/n]?')
#     stim_trigger = input()
        
# print('starting stimulus')

Start stimulus presentation?[y/n]?
lfroasjdflkasjdlfkjasd
Start stimulus presentation?[y/n]?
lsdf.sdnfg
Start stimulus presentation?[y/n]?
lasdfnglkjsdfl
Start stimulus presentation?[y/n]?
lasjdflkasdjf
Start stimulus presentation?[y/n]?
laksjdflkajsdlf
Start stimulus presentation?[y/n]?
y
starting stimulus

## List, tuples, sets and dictionaries

Python has a number of data types that you may find useful:

Lists are initialized with brackets '[]'

Tuples are initialized with parenthesis '()'

Dictionaries are initializes with curly brackets '{}'

A list is exactly what it sounds like. Each element in a list can be just about anything: a scalar, annother list, annother data type (tuple, dictionary, iterator), or even a function.

In [34]:
# define a simple list
a_simple_list = [0,1,2,3,4]
print(a_simple_list)

[0, 1, 2, 3, 4]

#### Indexing into lists...basics. will do more with this next time in NumPy. Remember: the element at the start index is included, but the stop index is NOT included...as a result, the number of elements returned is (stop-start).

<div class="alert alert-info">
Python, like C and many other languages, uses 0-based counting (whereas Matlab uses 1-based counting). 


![zero based counting](https://imgs.xkcd.com/comics/donald_knuth.png)

![schematic](http://serenceslab.ucsd.edu/231_stuff/support_files/index_python.png)

Several reasons for this but here are a few intuitions. 
(1) In our list above, if you wanted to find the value of the first element, how many places do you have to move away from the start? the answer is 0...(2) efficiency - in our list of 5 elements (or more generally N elements), all index values (i) fall between 0 <= i < N. However, if we had 1 based indexing, then all values would fall between 1 <= i < N+1. Small difference, but slightly more overhead.  
</div>

In [35]:
# some examples...remember the 0 thing we just talked about
#- items in a list can be accessed by an index and a pair of square brackets
print(a_simple_list)
print(a_simple_list[2])

[0, 1, 2, 3, 4]
2

In [36]:
#- items can be added to a list by using the append function
a_simple_list.append(5)
print(a_simple_list)

[0, 1, 2, 3, 4, 5]

In [37]:
# To access the first n items in a list:
n = 3
print(a_simple_list)
print(a_simple_list[:n])  # goes up to, but does not incldue, the stop index

[0, 1, 2, 3, 4, 5]
[0, 1, 2]

In [38]:
# To access the items in a list after n:
print(a_simple_list)
print(a_simple_list[n:])

[0, 1, 2, 3, 4, 5]
[3, 4, 5]

In [39]:
# To access a range of values:
print(a_simple_list)
print(a_simple_list[2:4])

[0, 1, 2, 3, 4, 5]
[2, 3]

In [40]:
# You can also use negative numbers to work from the back of the list:
print(a_simple_list)
print(a_simple_list[-4:-1])

[0, 1, 2, 3, 4, 5]
[2, 3, 4]

In [41]:
# Grab every second item in a list
print(a_simple_list)
print(a_simple_list[::2])

[0, 1, 2, 3, 4, 5]
[0, 2, 4]

In [42]:
# Grab every second item starting with the 2nd item and going to the 8th item
another_list = [0,1,2,3,4,5,6,7,8,9,10]   # make a longer list...
print(another_list[2:8:2])

[2, 4, 6]

In [43]:
# Reverse a list
print(a_simple_list)
print(a_simple_list[::-1])

[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

#### built in methods related to lists

In [44]:
a_list = [7,5,4,1]
print(a_list)
a_list.sort()
print(a_list)

[7, 5, 4, 1]
[1, 4, 5, 7]

In [45]:
#- pop function - 
print('Pop: %d', %a_simple_list.pop())
print(*a_simple_list)

Pop: 5
0 1 2 3 4

In [ ]:
# to see a full set of methods type a_list. then hit the tab key...
a_list.

#### can also call built in python methods

[list of built in methods](https://docs.python.org/3/library/functions.html)

In [ ]:
a_list = [7,5,4,1]
print('length of this list: ', len(a_list))
print('max of this list: ', max(a_list))

In [46]:
# note that not all methods work for all types, and in other cases you get kind of cool behavior like this:
a_list = ['bob', 'charlie','cindy']
print('min of this list: ', min(a_list))
print('max of this list: ', max(a_list))

min of this list:  bob
max of this list:  cindy

<div class="alert alert-info">
Lists can contain mixed data types - they can even contain FUNCTIONS
</div>

In [47]:
a_weird_list = [2018,'UCSD',a_simple_list,range(5),sum,[1,1,2,3,5,8,13,21]]
print(a_weird_list)
print('The next item in the fibonacci sequence is: %d '%a_weird_list[4](a_weird_list[5][-2:]))

# note the indexing of a_weird_list[5][-2:]...5th element of a_weird_list, and last two elements of the list in in the 5th spot...

[2018, 'UCSD', [0, 1, 2, 3, 4], range(0, 5), <built-in function sum>, [1, 1, 2, 3, 5, 8, 13, 21]]
The next item in the fibonacci sequence is: 34

In [48]:
a_weird_list[4]

#### using the zip function to make a list of pairs from two separate lists

In [49]:
list_a = [1,2,3,4]
list_b = [4,3,2,1]
x = list(zip(list_a, list_b))
print(x)

[(1, 4), (2, 3), (3, 2), (4, 1)]

#### now unzip it to recover original lists

In [50]:
z, u = zip(*x)
print(z)
print(u)

(1, 2, 3, 4)
(4, 3, 2, 1)

### Tuples

Tuples are collections of things and they are very similar to lists in a lot of ways. The main difference is that they are **immutable** meaning once they are created they cannot be changed...

In [51]:
a_simple_tuple = (1,'fish',2,'fish')
annother_tuple = ('red','fish','blue','fish')
print(a_simple_tuple)
print(annother_tuple)

(1, 'fish', 2, 'fish')
('red', 'fish', 'blue', 'fish')

In [53]:
# tuples are indexed the same way as lists
print(a_simple_tuple[::-1])

# a tuple can be created with only one element by including a trailing comma
not_a_tuple = (100)
a_short_tuple = (100,)

print(a_short_tuple, type(a_short_tuple))
print(not_a_tuple, type(not_a_tuple))

('fish', 2, 'fish', 1)
(100,) <class 'tuple'>
100 <class 'int'>

#### Tuples are immutable! Can't do this...

In [54]:
a_simple_tuple[0] = 5
a_simple_tuple.append(annother_tuple)

TypeError: 'tuple' object does not support item assignment

<div class="alert alert-warning">
But, tuples can still change!
If a tuple points to annother variable, and that variable changes, then the tuple 
value in that location *will* change. Important to be aware of when bug hunting.
</div>

In [55]:
a = [1,2,3]  # - list (mutable)
c = (a,4)    # - tuple (immutable)
print(c)

([1, 2, 3], 4)

In [56]:
a[1]=14
print(c)

([1, 14, 3], 4)

#### Tuples are *iterable*
Tuples (as well as lists) can be iterated over in for loop

In [57]:
for i in a_simple_tuple:
    print('%s is type: %s' %(i,type(i)))

1 is type: <class 'int'>
fish is type: <class 'str'>
2 is type: <class 'int'>
fish is type: <class 'str'>

### Dictionaries
Unlike lists & tuples, dictionaries are indexed by 'keys' which mark each entry

In [58]:
UC_Enrollment = {'Santa Barbara':21574,'Santa Cruz':16962,'Irvine': 27331,'Los Angeles':30873,
                 'Merced':6815,'Riverside':19799,'San Diego':28127,'San Francisco':0,
                 'Berkeley':29310,'Davis':29379}
# source: https://www.thoughtco.com/comparison-university-of-california-campuses-786974

# the keys command gives a list of all keys (not technically a list but behaves the same way)
schools = UC_Enrollment.keys()

# can loop over and print out...
for school in schools:
    num_students = UC_Enrollment[school]
    print('School:\t', school, '\tNumber of students:\t',num_students)

School:	 Santa Barbara 	Number of students:	 21574
School:	 Santa Cruz 	Number of students:	 16962
School:	 Irvine 	Number of students:	 27331
School:	 Los Angeles 	Number of students:	 30873
School:	 Merced 	Number of students:	 6815
School:	 Riverside 	Number of students:	 19799
School:	 San Diego 	Number of students:	 28127
School:	 San Francisco 	Number of students:	 0
School:	 Berkeley 	Number of students:	 29310
School:	 Davis 	Number of students:	 29379

#### Can add new entries

In [61]:
UC_Enrollment["UC11"] = "100000000"
print(UC_Enrollment)
UC_Enrollment["Riverside"]

{'Santa Barbara': 21574, 'Santa Cruz': 16962, 'Irvine': 27331, 'Los Angeles': 30873, 'Merced': 6815, 'Riverside': 19799, 'San Diego': 28127, 'San Francisco': 0, 'Berkeley': 29310, 'Davis': 29379, 'UC11': '100000000'}

19799

#### And delete entries

In [62]:
del UC_Enrollment["UC11"]
#del UC_Enrollment  # delete the entire dictionary
# UC_Enrollment.clear() # clear out all entries

#### Dictionaries are also directly iterable (both keys and indexed values)

In [63]:
for x in UC_Enrollment.values():
    print(x)

21574
16962
27331
30873
6815
19799
28127
0
29310
29379

In [64]:
for x, y in UC_Enrollment.items():
    print(x, y)

Santa Barbara 21574
Santa Cruz 16962
Irvine 27331
Los Angeles 30873
Merced 6815
Riverside 19799
San Diego 28127
San Francisco 0
Berkeley 29310
Davis 29379

### Sets are collections of unique elements - like a dictionary but keys

In [65]:
x = {1,2,3}  # x = set([1,2,3])
print(x)

{1, 2, 3}

In [66]:
x = {1,1,1,2,3,4,5}  # only unique elements!
print(x)

{1, 2, 3, 4, 5}

#### sets support mathmatical 'set' operations like union, intersection, difference, etc

In [67]:
x = {1,2,3,4}
y = {3,4,5,6}
x.union(y)

{1, 2, 3, 4, 5, 6}

In [68]:
x.intersection(y)

{3, 4}

## Python functions - declare your own functions so that you can easily use algorithms that you need over and over.

In [ ]:
def check_input_value(x):
    
    if x > 0:
        x = x + 10
        print('adding 10 to input, new number is:', x)
    elif x < 0:
        x = x - 10
        print('subtracting 10 from input, new number is:', x)
    else:
        x = NaN
        print('enter a number')
        
    return x

In [ ]:
# now call the function and pass in a number
y = check_input_value(10)
print(y)

### write the function out to a .py file for repeated using the writefile cell magic command (note the %% for cell magics as opposed to % for line magics)

In [69]:
%%writefile check_input_value.py

def check_input_value(x):
    
    if x > 0:
        x = x + 10
        print('adding 10 to input, new number is:', x)
    elif x < 0:
        x = x - 10
        print('subtracting 10 from input, new number is:', x)
    else:
        x = NaN
        print('enter a number')
        
    return x

Writing check_input_value.py

### write out a .py file that has multiple functions in it, then you can call it as a module

In [71]:
%%writefile some_random_tools.py

def square(x):
    y = x * x # or x**2
    return y

def times_ten(x):
    y = x * 10
    return(y)

def cubed(x):
    y = x * x * x
    return(y)

Overwriting some_random_tools.py

### now import your new module and access the functionality.

In [72]:
import some_random_tools as srt

x = 5

print(srt.square(x))

print(srt.times_ten(x))

print(srt.cubed(x))

25
50
125

### handy way to keep track of values passed to a function

In [73]:
def minus_two_numbers(x,y):
    z = x - y 
    return z

In [74]:
minus_two_numbers(x=10, y=5)

5

### BUT you can also do this to gain flexibility if you remember in the input requires but you forget what order

In [75]:
minus_two_numbers(y=5, x=10)  # still get the right answer by explicitly declaring input vars by name

5

<div class="alert alert-info">
If a variable is defined within a function, like 'z' above, then it is in the local namespace - it is created when the function is called and then destroyed after the function returns. Variables created outside of functions are in the global namespace and can be accessed from any cell in the notebook. 
</div>